* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.userName,
.userEmail,
.userMessage {
  width: 20rem;
  margin-block: 5px;
  padding: 10px 5px;
  font-size: 1rem;
}

.contact {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 10px 15px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 0.9rem;
}

.userOption {
  width: 20rem;
  padding-block: 5px;
  outline: none;
}

.userCheckBox {
  margin-top: 0.7rem;
  margin-right: 10px;
}

.userInfo {
  text-align: center;
  margin-top: 2rem;
}
